.btn-primary{
    background-color: #F8B400;
    border: none;
    font-weight: bold;
    color: rgb(50, 59, 67);
}
.highlight-tbl{
 margin-top: 100px;
 background-color: #107b5d;
 border-radius: 10px;
 padding: 10px;
 box-shadow: 1px 1px 1px 0.8;
 box-shadow: 2px 2px 10px 2px rgb(173, 167, 167);
}
.highlight-tbl:hover{
    background-color: #2d715f;
    transition: .5s;

}